# Dependencies
node_modules/
.expo/
dist/

# Debug logs
npm-debug.*

# Android/Keystore files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build directories
web-build/

# Environment variables
.env

# System files
.DS_Store

# Local development
.local/
attached_assets/

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Replit
.replit
